//Principal Colors
$darnnes:#00090C;
$black: #000000;
$white:#ffffff;


//Golden Colors
$primary-golden: #D4CA37;
$secundary-golden: #CEA82E;
$third-golden: #C09C29;
$dark-golden: #886F1D;
$light-golden:#F2E7C3;


//Plate Colors
$primary-plate: #494949;
$secondary-plate: #636363;
$third-plate: #849597;
$dark-plate: #1F1F1F;
$light-plate-1: #C8C8C8;
$light-plate-2: #C0C0C0;


//Blue Colors
$primary-blue: #9BB9FF;
$secondary-blue: #88ADFF;

//Red Colors
$red: #E6194C;
