@font-face {
    font-family: 'gotham-bold-webfont';
    src: url('../docs/assets/font/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../docs/assets/font/gotham-bold-webfont.woff2') format('woff2'),
        url('../docs/assets/font/gotham-bold-webfont.woff') format('woff'),
        url('../docs/assets/font/gotham-bold-webfont.ttf') format('truetype'),
        url('../docs/assets/font/gotham-bold-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-black-webfont';
    src: url('../docs/assets/font/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../docs/assets/font/gotham-black-webfont.woff2') format('woff2'),
        url('../docs/assets/font/gotham-black-webfont.woff') format('woff'),
        url('../docs/assets/font/gotham-black-webfont.ttf') format('truetype'),
        url('../docs/assets/font/gotham-black-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-light-webfont';
    src: url('../docs/assets/font/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../docs/assets/font/gotham-light-webfont.woff2') format('woff2'),
        url('../docs/assets/font/gotham-light-webfont.woff') format('woff'),
        url('../docs/assets/font/gotham-light-webfont.ttf') format('truetype'),
        url('../docs/assets/font/gotham-light-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-thin-webfont';
    src: url('../docs/assets/font/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../docs/assets/font/gotham-thin-webfont.woff2') format('woff2'),
        url('../docs/assets/font/gotham-thin-webfont.woff') format('woff'),
        url('../docs/assets/font/gotham-thin-webfont.ttf') format('truetype'),
        url('../docs/assets/font/gotham-thin-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotham-ultraitalic-webfont';
    src: url('../docs/assets/font/gotham-ultraitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../docs/assets/font/gotham-ultraitalic-webfont.woff2') format('woff2'),
        url('../docs/assets/font/gotham-ultraitalic-webfont.woff') format('woff'),
        url('../docs/assets/font/gotham-ultraitalic-webfont.ttf') format('truetype'),
        url('../docs/assets/font/gotham-ultraitalic-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-bookitalic-webfont';
    src: url('../docs/assets/font/gotham-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../docs/assets/font/gotham-bookitalic-webfont.woff2') format('woff2'),
        url('../docs/assets/font/gotham-bookitalic-webfont.woff') format('woff'),
        url('../docs/assets/font/gotham-bookitalic-webfont.ttf') format('truetype'),
        url('../docs/assets/font/gotham-bookitalic-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$gotham-text:     'gotham-light-webfont';
$gotham-subtitle: 'gotham-thin-webfont';
$gotham-title:    'gotham-bold-webfont';
$gotham-principal:'gotham-black-webfont';
$gotham-secundary:'gotham-ultraitalic-webfont';
$gotham-form:'gotham-bookitalic-webfont';
