//Size space
$super-big:    60px;
$big:          48px;
$small-big:    36px;
$medium:       30px;
$small-medium: 24px;
$big-small:    18px;
$small:        16px;
$notes:        12px;


$size-1: 12px;
$size-2: 16px;
$size-3: 18px;
$size-4: 20px;
$size-5: 24px;
$size-6: 30px;
$size-7: 36px;
$size-8: 48px;
$size-9: 60px;


$porcent-5: 5%;

// title Size
$super-title:       60px;
$big-title:         48px;
$medium-title:      36px;
$title:             30px;
$subtitle:          24px;
$medium-subtitle-B: 22px;
$medium-subtitle:   20px;
$text-big:          18px;
$text:              16px;
$normal:            14px;